<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="grey-wrapper wrapper">
      <%= simple_form_for @recommendation do |r| %>
      <%= r.input :name %>
      <%= r.input :description %>
      <%= r.input :address %>
      <%= r.input :day_time %>
      <%= r.input :weather_type %>
      <%= r.input :photo %>
      <% end %>
    </div>
  </div>
</div>