<h1><%= @recommendation.name %></h1>

<p>Address: <%= @recommendation.address %> </p>
<p>Description: <%= @recommendation.description %> </p>
<p>Category: <%= @recommendation.category %> </p>
<p>Rating: <%= @recommendation.rating %> </p>
