<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path(@recommendation.photo, width: 1500, height: 600)%>');">
  <div class="banner-content">
    <h1><%= @recommendation.name %></h1>
    <p><%= rating_for @recommendation, "rating", disabled: true, star_path: '/images/ratyrate' %></p>
  </div>
</div>

<div class="container recommendation-show padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2>More info about this place</h2>
      <h3>Suitable for</h3>
       <ul class="card-weather list-inline">
          <li>
            <% if @recommendation.weather_type == "clear"%>
              <%= icon_weather("clear") %>
            <% elsif @recommendation.weather_type == "clouds"%>
              <%= icon_weather("clouds") %>
            <% elsif @recommendation.weather_type == "rain"%>
              <%= icon_weather("clear") %>
              <%= icon_weather("clouds") %>
              <%= icon_weather("rain") %>
            <% elsif @recommendation.weather_type == "drizzle"%>
              <%= icon_weather("clear") %>
              <%= icon_weather("clouds") %>
            <% elsif @recommendation.weather_type == "storm"%>
              <%= icon_weather("clear") %>
              <%= icon_weather("drizzle") %>
              <%= icon_weather("rain") %>
              <%= icon_weather("thunderstorm") %>
            <% end %>
          </li>
        </ul>
      <p class="description"><%= @recommendation.description %> </p>
    </div>
  </div>
  <div class="text-center">
  <%= link_to :back do %>
        <div class="text-center btn btn-back">
          <i class="glyphicon glyphicon-chevron-left"></i> Back
        </div>
        <% end %>
  </div>
</div>
