
<div id="mainContainer" class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading"><%= @recommendation.name %></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <p><%= cl_image_tag(@recommendation.photo, class:"img-responsive img-show", :crop => :fill)%></p>
            </div>
            <div class="panel-body">
              <p id="description"><%= @recommendation.description %> </p>
              <p id="address">Address:</p> <%= @recommendation.address %> 
              <p id="category">Category: <%= @recommendation.category %> </p>
              <p id="rating">Rating: <%= rating_for @recommendation, "rating", disabled: true, star_path: '/images/ratyrate' %> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
