<div class="container" id="profile">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="text-left">
      <h2>Your profile</h2>
      <div class="user-info form-inputs"">
          <p class="text-profile">Email: </p>
          <p class="form-control" ><%= @user.email %></p>
          <p class="text-profile">First name:</p>
          <p class="form-control"> <%= @user.name %></p>
          <p class="text-profile">Second name:</p>
          <p class="form-control" ><%= @user %></p>
          <p class="text-profile">Address:</p>
          <p class="form-control" ><%= @user %></p>
          <p class="text-profile">Bairro:</p>
          <p class="form-control" ><%= @user%></p>
          <p class="text-profile">Other:</p>
          <p class="form-control"><%= @user %></p>
      </div>
        <div class="block-btn">
        <ul class="list-inline list-link">
          <li><%= link_to "Bookmarks", user_bookmarks_path(current_user), class:"btn btn-profile" %></li>
          <li><%= link_to "Ratings", user_ratings_path(current_user), class:"btn btn-profile" %></li>
          <li><%= link_to "Back", :back, class: "btn btn-profile" %></li>
        </ul>
        </div>
    </div>
    </div>
  </div>
</div>




