<div class="container" id="profile">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="text-left">
      <h2>Your profile</h2>
      <div class="user-info form-inputs"">
      <div class="user-info">
          <p><%= image_tag current_user.facebook_picture_url, class: "profile-image text-center"  %></p>
          <p class="text-profile">Email: </p>
          <p class="form-control" ><%= @user.email %></p>
          <p class="text-profile">First name:</p>
          <p> <%= @user.first_name %></p>
          <p class="text-profile">Last name:</p>
          <p><%= @user.last_name %></p>
      </div>
        <div class="block-btn">
        <ul class="list-inline list-link">
          <li><%= link_to "Bookmarks", user_bookmarks_path(current_user), class:"btn btn-profile" %></li>
          <li><%= link_to "Ratings", user_ratings_path(current_user), class:"btn btn-profile" %></li>
          <li><%= link_to "Back", :back, class: "btn btn-profile" %></li>
        </ul>
        </div>
    </div>
    </div>
  </div>
</div>




