<%= link_to recommendation_path(r), :class => "link" do%>
    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <div class="card"><p><%= cl_image_tag(r.photo, :class => "img-responsive img-show") %></p>
          <div class="card-name">
             <h4><%= r.name %></h4>
          </div>
          <div class="card-category">
            <%= form_tag recommendation_bookmarks_path(r), method: :post, id: "bookmark_form_#{r.id}" do %>
            <%= link_to "", "javascript:$('#bookmark_form_#{r.id}').submit()", :class => "glyphicon glyphicon-bookmark pull-right link" %>
            <% end %>
          </div>
          <div class="card-description">
            <% if params[:latitude].present? %>
              <p>Distance: <%= (r.distance_from([params[:latitude],params[:longitude]], :km) * 1000).round %> meters</p>
            <% end %>
            <p class="rating"><%= rating_for r, "rating", disabled: true, star_path: '/images/ratyrate' %> </p>

          </div>
          <p class="card-user">
            <%= link_to "Show me the way", "http://maps.google.com/maps?saddr=#{params[:latitude]},#{params[:longitude]}&daddr=#{r.latitude},#{r.longitude}&ie=UTF8&dirflg=w" , :class => "pull-right link", :target => '_blank' %>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="card-info">
          Description: <%= short_description(r.description) %>
        </div>
      </div>
    </div>

    <% if r.weather_type == "clear"%>
      <%= icon_weather("clear") %>
    <% elsif r.weather_type == "clouds"%>
      <%= icon_weather("clouds") %>
    <% elsif r.weather_type == "rain"%>
      <%= icon_weather("clear") %>
      <%= icon_weather("drizzle") %>
      <%= icon_weather("rain") %>
    <% elsif r.weather_type == "drizzle"%>
      <%= icon_weather("clear") %>
      <%= icon_weather("drizzle") %>
    <% elsif r.weather_type == "storm"%>
      <%= icon_weather("clear") %>
      <%= icon_weather("drizzle") %>
      <%= icon_weather("rain") %>
      <%= icon_weather("thunderstorm") %>
    <% end %>

<% end %>
