<div class="row">
  <div class="col-md-6 col-sm-6 col-md-offset-3" >
    <div class="well">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= form_tag recommendation_bookmarks_path(r), method: :post, id: "bookmark_form_#{r.id}" do %>
            <%= link_to "", "javascript:$('#bookmark_form_#{r.id}').submit()", :class => "glyphicon glyphicon-bookmark pull-right" %>
          <% end %>
          <%= link_to recommendation_path(r) do%>
            <div class="card-name"><%= r.name %></div>
            <p><%= cl_image_tag r.photo, :class => "img-responsive pull-right" %></p>
          <% end %>
        </div>
        <div class="panel-body">
          <div class="clearfix"></div>
          <hr>
          <p><%= r.description %></p>
          <p><%= r.address %></p>

          <% if params[:latitude].present? %>
            <p>Distance: <%= (r.distance_from([params[:latitude],params[:longitude]], :km) * 1000).round %> meters</p>
          <% end %>
          <div class="footer-card">
            <p><%= rating_for r, "rating" %></p>
            <p><%= link_to "Show me the way", "http://maps.google.com/maps?saddr=#{params[:latitude]},#{params[:longitude]}&daddr=#{r.latitude},#{r.longitude}&ie=UTF8&dirflg=w" , :class => "pull-right", :target => '_blank' %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>