

<div id="home">

  <img id="background"/>
  <!-- <canvas id="canvas"></canvas> -->
  <div class="container text-center">
    <h1>Don't let the weather fuck your vacations</h1>
    <div id="ftw">
      <%= link_to "Fuck the weather", "#", id: "myRecos", class:"btn btn-lg btn-danger", data: { loading_text: "Loading..."} %>
    <div id="load-msg">
    <% if user_signed_in? %>

    <% else %>
      <%= link_to "Register", new_user_registration_path, class:"btn btn-default", remote: true, 'data-toggle' => 'modal', 'data-target' => '#signUpModal', method: :get %>
        <%= link_to "Login", new_user_session_path, remote: true, 'data-toggle' => 'modal', 'data-target' => '#logInModal', method: :get, class:"btn btn-success" %>
    <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'modal' %>
<%= render 'login_modal' %>

<% content_for(:after_js) do %>
  <script>
  $(document).ready(run())
  function testLink() {
  if ($("#myRecos").attr("href") == "#") {
    $("#myRecos").hide()
    $("#load-msg").html("<h3>Getting your location...</h3>");
    console.log($("#myRecos").attr("href"))
    setTimeout(testLink, 0500);
  } else {
    $("#load-msg").hide();
    // $("#myRecos").show();
  }
};
  $("#myRecos").click(function() {
  testLink();
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;
      var url = '<%="#{recommendations_path}?longitude=" %>' + lon + "&latitude=" + lat;
      $("#myRecos").attr("href", url);
      window.location = url;
    })
  };
})

  </script>
<% end %>
